.profileScreen {
  height: 100vh;
  color: white;
  position: relative;
}
.profileScreen__body {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  padding-top: 8%;
  max-width: 800px;
}
.profileScreen__body > h1{
  font-size: 30px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  max-width: 580px;
}

.profileScreen__info {
  display: flex;
}
.profileScreen__details {
  color: white;
  margin-left: 25px;
  flex: 1;
  max-width: 450px;
}
.profileScreen__details > h2 {
  background-color: gray;
  padding: 15px;
  font-size: 15px;
  padding-left: 20px;
}
.profileScreen__signOut {
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 5%;
  width: 100%;
  color: #fff;
  background-color: #4750ccf8;
  cursor: pointer;
  border: none;
  font-weight: 600;
}

.profileScreen__body > h1 {
  font-size: 60px;
  font-weight: 400;

  border-bottom: 1px solid #282c2d;
}
.profileScreen__plans{
    margin-top: 20px;
}
.profileScreen__plans > h3 {
  border-bottom: 1px solid #282c2d;
  padding-bottom: 10px;
}

.profileScreen__info > img {
  height: 100px;
  background-color: white;
  border-radius: 15px;
  padding: 3px;
}

@media (max-width: 310px){
  .profileScreen__info{
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .profileScreen__info > img{
    width: 70px;
    height: 70px;
    object-fit: contain;
    padding: 4px;
  }
}
